.links-builder{
  .uk-container{
    max-width: 960px;
  }
}
.links-title{
 border-bottom : 2px solid $accent-color;
  padding: 20px;
  margin-bottom: 40px;
}
.link{
  .uk-icon{
    color:$accent-color;
  }
}