.number {
  color: $white;
  background: darken($aqua-blue, 5%);
  &:nth-child(even) {
    background: $aqua-blue;
  }

}
.big-number{
  font-family: $global-heading-font-family;
  font-size: 35px;
  color: $white !important;
  margin-bottom: 15px;
}
.number-subtitle{
  font-weight: 100;
  font-style: italic;
  font-size: 14px;
}