.photo-text-content{
  @include min-screen($tablet){
    min-height:400px;
   }
  display: flex;
  align-items: center;
}
.photo-text-image{
  min-height:400px;
}
.photo-text-content{
  position: relative;
  .photo-text:nth-child(even) &{
    @include min-screen($tablet){
      order: 2;
     }

    &:before{
      content:"";
      @include triangle(60px 30px, $white, left);
      top: 50%;
      transform: translateY(-50%);
      left:-30px;

      position: absolute;
    }
  }
  .photo-text:nth-child(odd) &{
    &:after{
      content:"";
      @include triangle(60px 30px, $white, right);
      top: 50%;
      transform: translateY(-50%);
      right:-30px;

      position: absolute;
    }
  }
  &.uk-section-muted{
    .photo-text:nth-child(even) &{
      &:before{
        @include triangle(60px 30px, $light, left);
      }
    }
    .photo-text:nth-child(odd) &{
      &:after{
        @include triangle(60px 30px, $light, right);
      }
    }
  }
}

