/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
  font-size: rem(16);

}

.sidebar li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted $global-border;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
  margin-bottom: 0;
}

.sidebar .widget {
  @include min-screen($tablet) {
    padding: 40px;
    box-shadow:$global-medium-box-shadow;
  }

   margin-bottom: 40px;
  background-color: $white;
  @include min-screen($tablet){
    box-shadow:$global-medium-box-shadow;
  }

}

.sidebar .widget.enews-widget {
  @include max-screen($tablet) {
    padding: 40px;
  }
}
