/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  clear: both;
  padding-top: 40px;
  background-color: $dark-gray;
}

.footer-widgets,
.footer-widgets a {
  color: $medium-gray;
}

.footer-widgets input {
  border: 1px solid $dark-gray;
}

.footer-widgets a.button,
.footer-widgets a:hover {
  color: $white;
}

.footer-widgets li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted lighten($dark-gray, 30%);
}

.footer-widgets .widget {
  margin-bottom: 40px;
}

.footer-widgets p:last-child {
  margin-bottom: 0;
}

.flexible-widgets {
  &.uneven {
    .widget:last-child {
      width: 100%;
    }
  }
}


/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  padding: 40px 0;
  background-color: #2d3047;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}

.site-footer p {
  margin-bottom: 0;
  line-height:$global-line-height;
}
.subfooter{
  background: $accent-color;
  color: $white;
  font-size: 20px;
  font-family: $base-heading-font-family;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.7;
  .uk-container{
    max-width: 960px;
    margin: 0 auto 20px;
  }

  .uk-button{
    color: $white;
    border-color: $white;
    &:hover{
      border-color: $black;
    }
  }
}

.subfooter-links{

  @include min-screen($tablet){
    display: flex;
    justify-content: space-around;
  }

  text-align: center;
  .uk-button{
    margin-top: 20px;


  }

}
#footer{
  color: $white;
  .menu{
    margin: 20px -0px;
    display:flex;
    justify-content: center;
    li{
      a{
        padding: 20px 15px;
        font-family: $base-heading-font-family;
        color: $white;
        font-weight:300 !important;
        font-size: 18px;
        letter-spacing: 1px;
      }
      .sub-menu{
        display: none;
      }
    }
  }
}



