/* ## Titles
--------------------------------------------- */

.archive-title {
  font-size: rem(20);
}

.entry-title {
  @include min-screen($mobile){
    font-size: rem(36);
    
 }
  font-size: rem(24);
@include max-screen($mobile){
       margin-top:24px;
 }
}



.entry-title a:hover {
  color: $base-link-hover-color;
}

.widget-title {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-widgets .widget-title {
  color: $white;
}
.top-image{
  color: $white;
  h1, h2, h3, h4, h5, h5{
    color: $white;
    text-shadow: 1px 1px 0 $black;
    text-transform: uppercase;
  }
}