//
// Component: Article
//
// ========================================================================


// Variables
// ========================================================================

$article-meta-color:                             $global-muted-color !default;

$article-margin-top:                             $global-large-margin !default;

$article-title-font-size:                        $global-xxlarge-font-size !default;
$article-title-line-height:                      1.2 !default;

$article-meta-font-size:                         $global-small-font-size !default;
$article-meta-line-height:                       1.4 !default;

//
// New
//

$article-meta-link-color:                        $article-meta-color !default;
$article-meta-link-hover-color:                  $global-color !default;



// Component
// ========================================================================

@mixin hook-article(){}


// Adjacent sibling
// ========================================================================

@mixin hook-article-adjacent(){}


// Title
// ========================================================================

@mixin hook-article-title(){}


// Meta
// ========================================================================

@mixin hook-article-meta(){

    a { color: $article-meta-link-color; }

    a:hover {
        color: $article-meta-link-hover-color;
        text-decoration: none;
    }

}


// Miscellaneous
// ========================================================================

@mixin hook-article-misc(){}


// Inverse
// ========================================================================

@mixin hook-inverse-article-title(){}
@mixin hook-inverse-article-meta(){}
@mixin hook-inverse-component-article(){

    .uk-article-title  {
        @if(mixin-exists(hook-inverse-article-title)) {@include hook-inverse-article-title();}
    }

    .uk-article-meta  {
        color: $inverse-article-meta-color;
        @if(mixin-exists(hook-inverse-article-meta)) {@include hook-inverse-article-meta();}
    }

}