//
// Component: Base
//
// ========================================================================
$base-body-background:                           $global-background;
$base-body-font-family:                          $global-font-family ;
$base-body-font-weight:                          normal ;
$base-body-font-size:                            $global-font-size ;
$base-body-line-height:                          $global-line-height ;
$base-body-color:                                $global-color ;

$base-link-color:                                $global-link-color ;
$base-link-text-decoration:                      none ;
$base-link-hover-color:                          $global-link-hover-color ;
$base-link-hover-text-decoration:                underline ;

$base-code-font-size:                            $global-small-font-size ;
$base-code-font-family:                          Consolas, monaco, monospace ;
$base-code-color:                                $global-danger-background ;
$base-em-color:                                  $global-danger-background ;
$base-ins-background:                            transparent;
$base-ins-color:                                 $global-color ;
$base-mark-background:                           #ffd ;
$base-mark-color:                                $global-color ;
$base-quote-font-style:                          italic ;
$base-small-font-size:                           80% ;

$base-margin-vertical:                           $global-margin ;

$base-heading-font-family:                       $global-heading-font-family;;
$base-heading-font-weight:                       300 ;
$base-heading-color:                             $global-color ;
$base-heading-text-transform:                    none ;
$base-heading-margin-top:                        $global-medium-margin ;
$base-h1-font-size:                              $global-xxlarge-font-size ;
$base-h1-line-height:                            1.2 ;
$base-h2-font-size:                              $global-xlarge-font-size ;
$base-h2-line-height:                            1.3 ;
$base-h3-font-size:                              $global-large-font-size ;
$base-h3-line-height:                            1.4 ;
$base-h4-font-size:                              $global-medium-font-size ;
$base-h4-line-height:                            1.4 ;
$base-h5-font-size:                              $global-font-size ;
$base-h5-line-height:                            1.4 ;
$base-h6-font-size:                              $global-small-font-size ;
$base-h6-line-height:                            1.4 ;

$base-list-padding-left:                         30px ;

$base-hr-margin-vertical:                        $global-margin ;
$base-hr-border-width:                           $global-border-width ;
$base-hr-border:                                 $global-border ;

$base-blockquote-font-size:                      $global-medium-font-size ;
$base-blockquote-line-height:                    1.5 ;
$base-blockquote-font-style:                     italic ;
$base-blockquote-margin-vertical:                $global-margin ;
$base-blockquote-footer-margin-top:              $global-small-margin ;
$base-blockquote-footer-font-size:               $global-small-font-size ;
$base-blockquote-footer-line-height:             1.5 ;

$base-pre-font-size:                             $global-small-font-size ;
$base-pre-line-height:                           1.5 ;
$base-pre-font-family:                           $base-code-font-family ;
$base-pre-color:                                 $global-color ;

$base-selection-background:                      $global-color;
$base-selection-color:                           $global-inverse-color ;

//
// New
//

$base-code-padding-horizontal:                   6px ;
$base-code-padding-vertical:                     2px ;
$base-code-background:                           $global-muted-background ;
$base-code-font-family: Consolas, monaco, monospace !default;

$base-blockquote-color:                          $global-emphasis-color ;

$base-blockquote-footer-color:                   $global-color ;

$base-pre-padding:                               10px ;
$base-pre-background:                            $global-background ;
$base-pre-border-width:                          $global-border-width ;
$base-pre-border:                                $global-border ;
$base-pre-border-radius:                         3px ;





// Body
// ========================================================================

 @mixin hook-base-body(){
   background: $base-body-background;
   box-sizing: border-box;
   @include min-screen($tablet){
     background: $white;
    }

 }



// Links
// ========================================================================

@mixin hook-base-link(){}

@mixin hook-base-link-hover(){}


// Text-level semantics
// ========================================================================




// Headings
// ========================================================================

 @mixin hook-base-heading(){
   font-family: $base-heading-font-family;
   font-weight:light;
   a{
     color:$global-color;
   }
 }

 @mixin hook-base-h1(){

 }

@mixin hook-base-h2(){}

@mixin hook-base-h3(){}

@mixin hook-base-h4(){}

@mixin hook-base-h5(){}

@mixin hook-base-h6(){}


// Horizontal rules
// ========================================================================

@mixin hook-base-hr(){}


// Blockquotes
// ========================================================================
@mixin hook-base-blockquote(){
    color: $base-blockquote-color;
}
@mixin hook-base-blockquote-footer(){

    color: $base-blockquote-footer-color;

    &::before { content: "— "; }

}





// Preformatted text
// ========================================================================

@mixin hook-base-code(){
    padding: $base-code-padding-vertical $base-code-padding-horizontal;
    background: $base-code-background;
}

@mixin hook-base-pre(){
    padding: $base-pre-padding;
    border: $base-pre-border-width solid $base-pre-border;
    border-radius: $base-pre-border-radius;
    background: $base-pre-background;
}

// Miscellaneous
// ========================================================================

@mixin hook-base-misc(){}


// Inverse
// ========================================================================

$inverse-base-blockquote-color:                 $inverse-global-emphasis-color ;
$inverse-base-blockquote-footer-color:          $inverse-global-color ;

@mixin hook-inverse-base-link(){}
@mixin hook-inverse-base-link-hover(){}

@mixin hook-inverse-base-code(){
    background: $inverse-global-muted-background;
}

@mixin hook-inverse-base-heading(){}

@mixin hook-inverse-base-h1(){}
@mixin hook-inverse-base-h2(){}
@mixin hook-inverse-base-h3(){}
@mixin hook-inverse-base-h4(){}
@mixin hook-inverse-base-h5(){}
@mixin hook-inverse-base-h6(){}
@mixin hook-inverse-base-blockquote(){ color: $inverse-base-blockquote-color; }
@mixin hook-inverse-base-blockquote-footer(){ color: $inverse-base-blockquote-footer-color; }
@mixin hook-inverse-base-hr(){}
@mixin hook-inverse-component-base(){

    color: $inverse-base-color;

    // Base
    // ========================================================================

    //
    // Link
    //

    a,
    .uk-link  {
        color: $inverse-base-link-color;
        @if(mixin-exists(hook-inverse-base-link)) {@include hook-inverse-base-link();}
    }

    a:hover,
    .uk-link:hover {
        color: $inverse-base-link-hover-color;
        @if(mixin-exists(hook-inverse-base-link-hover)) {@include hook-inverse-base-link-hover();}
    }

    //
    // Code
    //

    :not(pre) > code,
    :not(pre) > kbd,
    :not(pre) > samp {
        color: $inverse-base-code-color;
        @if(mixin-exists(hook-inverse-base-code)) {@include hook-inverse-base-code();}
    }

    //
    // Emphasize
    //

    em { color: $inverse-base-em-color; }

    //
    // Headings
    //

    h1, .uk-h1,
    h2, .uk-h2,
    h3, .uk-h3,
    h4, .uk-h4,
    h5, .uk-h5,
    h6, .uk-h6 {
        color: $inverse-base-heading-color;
        @if(mixin-exists(hook-inverse-base-heading)) {@include hook-inverse-base-heading();}
    }

    h1, .uk-h1 {
        @if(mixin-exists(hook-inverse-base-h1)) {@include hook-inverse-base-h1();}
    }

    h2, .uk-h2 {
        @if(mixin-exists(hook-inverse-base-h2)) {@include hook-inverse-base-h2();}
    }

    h3, .uk-h3 {
        @if(mixin-exists(hook-inverse-base-h3)) {@include hook-inverse-base-h3();}
    }

    h4, .uk-h4 {
        @if(mixin-exists(hook-inverse-base-h4)) {@include hook-inverse-base-h4();}
    }

    h5, .uk-h5 {
        @if(mixin-exists(hook-inverse-base-h5)) {@include hook-inverse-base-h5();}
    }

    h6, .uk-h6 {
        @if(mixin-exists(hook-inverse-base-h6)) {@include hook-inverse-base-h6();}
    }

    //
    // Blockquotes
    //

    blockquote {
        @if(mixin-exists(hook-inverse-base-blockquote)) {@include hook-inverse-base-blockquote();}
    }

    blockquote footer {
        @if(mixin-exists(hook-inverse-base-blockquote-footer)) {@include hook-inverse-base-blockquote-footer();}
    }

    //
    // Horizontal rules
    //

    hr {
        border-top-color: $inverse-base-hr-border;
        @if(mixin-exists(hook-inverse-base-hr)) {@include hook-inverse-base-hr();}
    }

}




@mixin hook-inverse-base-hr(){}