//
// Component: Card
//
// ========================================================================


// Variables
// ========================================================================
$card-primary-background: $global-primary-background !default;
$card-secondary-background: $global-secondary-background !default;

$card-hover-background:                         $global-background !default;

$card-default-background:                       $global-background !default;
$card-default-hover-background:                 $card-default-background !default;

$card-primary-hover-background:                 $card-primary-background !default;

$card-secondary-hover-background:               $card-secondary-background !default;

//
// New
//

$card-hover-box-shadow:                         $global-large-box-shadow !default;

$card-default-box-shadow:                       $global-medium-box-shadow !default;
$card-default-hover-box-shadow:                 $global-large-box-shadow !default;

$card-default-header-border-width:              $global-border-width !default;
$card-default-header-border:                    $global-border !default;

$card-default-footer-border-width:              $global-border-width !default;
$card-default-footer-border:                    $global-border !default;

$card-primary-box-shadow:                       $global-medium-box-shadow !default;
$card-primary-hover-box-shadow:                 $global-large-box-shadow !default;

$card-secondary-box-shadow:                     $global-medium-box-shadow !default;
$card-secondary-hover-box-shadow:               $global-large-box-shadow !default;

$nav-sublist-deeper-padding-left: 15px !default;


// Component
// ========================================================================

@mixin hook-card(){
    -webkit-transition: box-shadow 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
}


// Sections
// ========================================================================

 @mixin hook-card-body(){
   
 }

@mixin hook-card-header(){}

@mixin hook-card-footer(){}


// Media
// ========================================================================

@mixin hook-card-media(){}

@mixin hook-card-media-top(){}

@mixin hook-card-media-bottom(){}

@mixin hook-card-media-left(){}

@mixin hook-card-media-right(){}


// Title
// ========================================================================

@mixin hook-card-title(){}


// Badge
// ========================================================================

@mixin hook-card-badge(){}


// Hover modifier
// ========================================================================

@mixin hook-card-hover(){ box-shadow: $card-hover-box-shadow; }


// Style modifiers
// ========================================================================

@mixin hook-card-default(){ box-shadow: $card-default-box-shadow; }

@mixin hook-card-default-title(){}
@mixin hook-card-default-header(){ border-bottom: $card-default-header-border-width solid $card-default-header-border; }
@mixin hook-card-default-footer(){ border-top: $card-default-footer-border-width  solid $card-default-footer-border; }







//
// Primary
//



@mixin hook-card-primary(){ box-shadow: $card-primary-box-shadow; }
@mixin hook-card-primary-title(){}
@mixin hook-card-primary-hover(){ box-shadow: $card-primary-hover-box-shadow; }



//
// Secondary
//


@mixin hook-card-secondary(){ box-shadow: $card-secondary-box-shadow; }
@mixin hook-card-secondary-title(){}
@mixin hook-card-secondary-hover(){ box-shadow: $card-secondary-hover-box-shadow; }




// Miscellaneous
// ========================================================================

@mixin hook-card-misc(){

    /*
     * Default
     */

    .uk-card-body .uk-nav-default { margin: (-$card-body-padding-vertical + 15px) (-$card-body-padding-horizontal); }
    .uk-card-title + .uk-nav-default { margin-top: 0; }

    .uk-card-body .uk-nav-default > li > a,
    .uk-card-body .uk-nav-default .uk-nav-header,
    .uk-card-body .uk-nav-default .uk-nav-divider {
        padding-left: $card-body-padding-horizontal;
        padding-right: $card-body-padding-horizontal;
    }

    .uk-card-body .uk-nav-default .uk-nav-sub { padding-left: $nav-sublist-deeper-padding-left + $card-body-padding-horizontal; }


    /* Desktop and bigger */
    @media (min-width: $breakpoint-large) {

        .uk-card-body .uk-nav-default { margin: (-$card-body-padding-vertical-l + 15px) (-$card-body-padding-horizontal-l); }
        .uk-card-title + .uk-nav-default { margin-top: 0; }

        .uk-card-body .uk-nav-default > li > a,
        .uk-card-body .uk-nav-default .uk-nav-header,
        .uk-card-body .uk-nav-default .uk-nav-divider {
            padding-left: $card-body-padding-horizontal-l;
            padding-right: $card-body-padding-horizontal-l;
        }

        .uk-card-body .uk-nav-default .uk-nav-sub { padding-left: $nav-sublist-deeper-padding-left + $card-body-padding-horizontal-l; }

    }

    /*
     * Small
     */

    .uk-card-small .uk-nav-default { margin: (-$card-small-body-padding-vertical + 15px) (-$card-small-body-padding-horizontal); }
    .uk-card-small .uk-card-title + .uk-nav-default { margin-top: 0; }

    .uk-card-small .uk-nav-default > li > a,
    .uk-card-small .uk-nav-default .uk-nav-header,
    .uk-card-small .uk-nav-default .uk-nav-divider {
        padding-left: $card-small-body-padding-horizontal;
        padding-right: $card-small-body-padding-horizontal;
    }

    .uk-card-small .uk-nav-default .uk-nav-sub { padding-left: $nav-sublist-deeper-padding-left + $card-small-body-padding-horizontal; }

    /*
     * Large
     */

    /* Desktop and bigger */
    @media (min-width: $breakpoint-large) {

        .uk-card-large .uk-nav-default { margin: (-$card-large-body-padding-vertical-l + 15px) (-$card-large-body-padding-horizontal-l); }
        .uk-card-large .uk-card-title + .uk-nav-default { margin-top: 0; }

    }

}

