//
// Component: Column
//
// ========================================================================


// Variables
// ========================================================================


// Miscellaneous
// ========================================================================

@mixin hook-column-misc(){}
@mixin hook-inverse-component-column(){

    .uk-column-divider {
        -webkit-column-rule-color: $inverse-column-divider-rule-color;
        -moz-column-rule-color: $inverse-column-divider-rule-color;
        column-rule-color: $inverse-column-divider-rule-color;
    }

}