//
// Component: Countdown
//
// ========================================================================


// Variables
// ========================================================================


// Component
// ========================================================================

@mixin hook-countdown(){}


// Item
// ========================================================================

@mixin hook-countdown-item(){}


// Number
// ========================================================================

@mixin hook-countdown-number(){}


// Separator
// ========================================================================

@mixin hook-countdown-separator(){}


// Label
// ========================================================================

@mixin hook-countdown-label(){}


// Miscellaneous
// ========================================================================

@mixin hook-countdown-misc(){}


// Inverse
// ========================================================================

@mixin hook-inverse-countdown-item(){}
@mixin hook-inverse-countdown-number(){}
@mixin hook-inverse-countdown-separator(){}
@mixin hook-inverse-countdown-label(){}

@mixin hook-inverse-countdown-item(){}
@mixin hook-inverse-countdown-number(){}
@mixin hook-inverse-countdown-separator(){}
@mixin hook-inverse-countdown-label(){}
@mixin hook-inverse-component-countdown(){

    .uk-countdown-number,
    .uk-countdown-separator {
        @if(mixin-exists(hook-inverse-countdown-item)) {@include hook-inverse-countdown-item();}
    }

    .uk-countdown-number {
        @if(mixin-exists(hook-inverse-countdown-number)) {@include hook-inverse-countdown-number();}
    }

    .uk-countdown-separator {
        @if(mixin-exists(hook-inverse-countdown-separator)) {@include hook-inverse-countdown-separator();}
    }

    .uk-countdown-label {
        @if(mixin-exists(hook-inverse-countdown-label)) {@include hook-inverse-countdown-label();}
    }

}
