//
// Component: Overlay
//
// ========================================================================


// Variables
// ========================================================================



// Component
// ========================================================================

// @mixin hook-overlay(){}

// Icon
// ========================================================================

// @mixin hook-overlay-icon(){}


// Style modifiers
// ========================================================================

// @mixin hook-overlay-default(){}

 @mixin hook-overlay-primary(){
   background: rgba(43, 171, 183, .8);
   color: $white !important;
   font-family: $base-heading-font-family;
   font-weight:300;
   letter-spacing: 1px;
 }



// Miscellaneous
// ========================================================================

// @mixin hook-overlay-misc(){}