@mixin ghost-btn($padding:10px 30px, $color:$primary-color, $hover-color:$light) {
	border:2px solid $color;
	padding:$padding;
	text-align: center;
	color:$color;
	// text-transform: uppercase;
	font-weight: 400;
	 @include transition(all .3s ease-in-out); // multiple: comma-delimited
	;
	&:hover {
		background-color: $color;
		color:$hover-color;
		border-radius: 10px;
	}

}

//@mixin triangle($color:$primary-color){
//width: 0;
//height: 0;
//border-style: solid;
//border-width: 0 20px 35px 20px;
//border-color: transparent transparent $color;
//}

// Image replacement

@mixin img-replace( $img, $w, $h, $disp: block) {
	background-image: url('images/#{$img}');
	background-repeat: no-repeat;
	width: $w;
	height: $h;
	display: $disp;
}
