<section class="top-image uk-flex uk-flex-middle uk-flex-center">
    <div class="uk-container uk-text-center">
        {% set type = post.post_type %}
        {% if 'stories' == type  %}
        <h1 class="stories-title">{{ post.title }}</h1>
        {% endif %}
        {{ post.header_text  | e('wp_kses_post') }}
    </div>


</section>