<section class="subfooter uk-padding-large">
    <div class="uk-container">
        <div class="subfooter-content uk-text-center uk-margin">{{ post.subfooter_text | e('esc_html') }}</div>
        <div class="subfooter-links" >
            {% for item in post.subfooter_links %}
                {% set target = item.external_link %}
                <a href="{{ item.url | e('esc_url') }}"
                   {% if target %}target="_blank"{% endif %}
                   class="uk-button uk-button-default uk-text-center">{{ item.title | e('esc_html') }}</a>
            {% endfor %}
        </div>
    </div>
</section>

